html {
  background: black;
  color: white;
}

canvas {
  margin: 10% auto 0;
  width: 800px;
}

.fa.fa-arrows-alt,
.fa.fa-compress {
  position: fixed;
  top: 1em;
  left: 1em;
  padding: 0 0.25rem;
  font-size: 14px;
  line-height: 32px;
  font-family: sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
  cursor: pointer;
  background: red;
  border-radius: 4px;
  display: inline-block;
}

.fa.fa-compress {
  display: none !important;
}


:-webkit-full-screen .fa.fa-compress,
:-moz-full-screen .fa.fa-compress,
:-ms-fullscreen .fa.fa-compress,
:fullscreen .fa.fa-compress {
  display: inline-block !important;
}

:-webkit-full-screen .fa.fa-arrows-alt,
:-moz-full-screen .fa.fa-arrows-alt,
:-ms-fullscreen .fa.fa-arrows-alt,
:fullscreen .fa.fa-arrows-alt {
  display: none !important;
}

:-moz-full-screen .fa.fa-compress {
  display: inline-block !important;
}

:-moz-full-screen .fa.fa-arrows-alt {
  display: none !important;
}

:-webkit-full-screen .fa.fa-compress {
  display: inline-block !important;
}

:-webkit-full-screen .fa.fa-arrows-alt {
  display: none !important;
}

:-ms-fullscreen .fa.fa-compress {
  display: inline-block !important;
}

:-ms-fullscreen .fa.fa-arrows-alt {
  display: none !important;
}

:fullscreen .fa.fa-compress {
  display: inline-block !important;
}

:fullscreen .fa.fa-arrows-alt {
  display: none !important;
}